body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-size: 100%;
    background-position: center;

} 

.container{
    width: 400px;
    height: 400px;
    margin: 400px auto;

}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

h1 {
    margin-bottom: 20px;
    margin-left: 80px;
}

input {
    margin-bottom: 10px;
    margin-left: 85px;
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    margin-left: 35%;
    margin-bottom: 5%;
}



